  <!-- EDIT STUDENT PAGE -->
<div class="container-fluid bg-dark pt-3 pb-2 mb-3 border-bottom"> <!-- Background colors, placement, spacing -->
  <div>
  <h1 class="h2" style="color: white;">Edit <%= student.studentNumber %></h1> <!-- Displays the student number of the student thats being edited -->
      <div>
          <!-- Breadcrumb nav to navigate to back to dashboard -->
          <nav aria-label="breadcrumb" style="color: #fff;">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">DashBoard </a></li> <!-- Previous -->
                  <li class="breadcrumb-item active" style="color: #fff;">Edit Student</li> <!-- Current -->
              </ol>
          </nav>
 
        <!-- Displays the last updated time and assignmentID -->
        <div class="col text-end fw-lighter"> <!-- placement and alignment of forms-->
            <b class="viewpage">Last Updated <%= new Date(student.updatedAt).toUTCString() %></b><br>
            <b class="viewpage">Student ID:<%= student._id %></b>
        </div>
    </div>
</div>

<!-- Displays the assignment that was clicked on -->
<form action="/editStudent/<%= student._id %>?_method=PUT" method="POST">

    <div class="row mb-4"> <!-- placement and alignment of forms-->
        <div class="col">
            <label for="studentName">Student Name</label> <!-- Student Name -->
            <input type="text" class="form-control" name="studentName" id="studentName" value="<%= student.studentName %>" placeholder="Sara Rahim" required>
        </div>

        <!-- JAVASCRIPT TO VALIDATE STUDENT NAME ENTRY-->
        <script>
            const studentNameInput = document.getElementById('studentName');
            studentNameInput.addEventListener('input', function() {
                const enteredValue = studentNameInput.value;
                const isValid = /^[A-Za-z\s]+$/.test(enteredValue); // /^[A-Za-z\s]+$/ - this means only leters a-z/A-Z and blank spaces are allowed
                
                if (!isValid) { // if input is not valid a popup message displays and alerts the user
                    studentNameInput.setCustomValidity('Only letters and spaces are allowed');
                } else { // if input is valid no popup will display
                    studentNameInput.setCustomValidity('');
                }
            });
        </script>
        
        <div class="col">
            <label for="studentNumber">Student ID</label> <!-- Student Number/ID -->
            <input type="text" class="form-control" name="studentNumber" id="studentNumber" value="<%= student.studentNumber %>" placeholder="R00211761" required>
        </div>

        <!-- JAVASCRIPT TO VALIDATE STUDENT NUMBER ENTRY-->
        <script>
            const studentNumberInput = document.getElementById('studentNumber');
            studentNumberInput.addEventListener('input', function() {
                const enteredValue = studentNumberInput.value;
                const isValid = /^R\d{8}\s?$/.test(enteredValue); // /^R\d{8}\s?$/ - this means only R followed by 8 digits and a blank space at the end is allowed

                if (!isValid) { // if input is not valid a popup message displays and alerts the user
                    studentNumberInput.setCustomValidity('Invalid format. Expected: R followed by 8 digits and an optional space.');
                } else { // if input is valid no popup will display
                    studentNumberInput.setCustomValidity('');
                }
            });
        </script>
        </div>
    
    <div class="mb-4"> <!-- placement and alignment of forms-->
        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to update this assignment?')">Update Student</button> <!-- asks the user again to make sure they want to update -->
    </div>
</form>